<h1>Welcome TO Best Bank</h1>
<form>
    <input type="text" placeholder="First Name"/>
    <input type="text" placeholder="Middle Name"/>
    <input type="text" placeholder="Last Name"/>
    <input type="number" placeholder="age"/>
    <input type="email" placeholder=" Email"/>
    <input type="text" placeholder="Address"/>
    <input type="text" placeholder="Male/Female"/>
    <input type="text" placeholder="Customer /Employee "/>


</form>