<h1>Welcome TO Best Bank</h1>
<form >
  <input type="text" placeholder="First Name" />
  <br />
  <input type="text" placeholder="Middle Name" />
  <br />
  <input type="text" placeholder="Last Name" />
  <br />
  <input type="number" placeholder="age" />
  <br />
  <input type="email" placeholder=" Email" />
  <br />
  <input type="text" placeholder="Address" />
  <br />
  <input type="text" placeholder="Male/Female" />
  <br />
  <input type="text" placeholder="Customer /Employee " />
  <br>
  <input type="submit" value="Submit">
</form>